{% extends 'header.html' %}

{% block content %}
    <div class="container pt-5 my-5 border border-2">
        <h2 class="center text-secondary">Gerar PDF!</h2>
        <br>
        <form action="{{ url_for('gerar_pdf') }}" method="post" class="needs-validation">
            <!-- <label class="form-label">Serviço:</label> -->
            <select name="select_servico" class="form-select">
                {% for servico in servicos %}
                    <option value="{{ servico.nome }}">
                        {{ servico.nome }}
                    </option>
                {% endfor %}
            </select><br>
            <!-- <label class="form-label">Cliente:</label> -->
            <select name="select_cliente" class="form-select">
                {% for cliente in clientes %}
                    <option value="{{ cliente.cliente }}">
                        {{ cliente.cliente }}
                    </option>
                {% endfor %}
            </select><br>
            <!-- <label class="form-label">Mês:</label> -->
            <select name="select_mes" class="form-select">
                {% for mes in meses %}
                    <option value="{{ mes.mes }}">
                        {{ mes.mes }}
                    </option>
                {% endfor %}
            </select><br>
            <!-- <label class="form-label">Ano:</label> -->
            <select name="select_ano" class="form-select">
                {% for ano in anos %}
                    <option value="{{ ano.ano }}">
                        {{ ano.ano }}
                    </option>
                {% endfor %}
            </select><br>
        <div class="d-flex justify-content-center">
            <button type="submit" id="generateBtn" class="btn btn-secondary" onclick="loading()">
                <span class="bi bi-file-earmark-pdf"> Gerar</span>
            </button>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" id="loading-btn" class="btn btn-secondary" onclick="loading()">
                <span class="spinner-border spinner-border-sm"></span>
                Gerando PDF...
            </button>
        </div>
        </form><br>
        <!-- <div id="loading"></div> -->
        <h5 onload="hideSpinner()" class="center" id="loading-txt">{{ texto_aviso }}</h5>
    </div> 
{% endblock %}